@font-face {
    font-family: myFont;
    src:url(Font/pjsk.ttf);
}

body{
    font-family: myFont;
    color: #40B7EB;
    align-self: center;
    align-content: center;
    align-items: center;
}

.links{
    color: inherit;
}

.links2{
    color: inherit;
    text-decoration: none;
}