@font-face {
    font-family: myFont;
    src:url(Font/pjsk.ttf);
}

body{
    font-family: myFont;
    color: #40B7EB;
}

.links{
    color: inherit;
}

.links2{
    color: inherit;
    text-decoration: none;
}
.jp-stu:hover{
    font-size: 0;
}
.jp-stu:hover::after{
    content: attr(data-hover);
    font-size: small;
    line-height: normal;
    font-weight: 100;
}